<div class="footer">
  <div class="footer-top">
    <div class="cmain">
      <ul class="friend-link">
        <li class="footer-hd">友情链接</li>
        <li>
          <a href="//www.baidu.com" target="_blank">腾讯视频</a>
          <a href="//www.baidu.com" target="_blank">腾讯游戏</a>
        </li>
        <li>
          <a href="//www.baidu.com" target="_blank">腾讯云</a>
          <a href="//www.baidu.com" target="_blank">腾讯音乐</a>
        </li>
        <li>
          <a href="//www.baidu.com" target="_blank">阿里巴巴</a>
          <a href="//www.baidu.com" target="_blank">今日头条</a>
        </li>
        <li>
          <a href="//www.baidu.com" target="_blank">每时每刻</a>
          <a href="//www.baidu.com" target="_blank">腾讯新闻</a>
        </li>
      </ul>
      <ul class="contact">
        <li class="footer-hd">
          <a href="//www.baidu.com">关于我们</a>
          <a href="//www.baidu.com">技术服务</a>
          <a href="//www.baidu.com">热门资讯</a>
          <a href="//www.baidu.com">产品</a>
        </li>
        <li>
          地址： 成都市天府大道1199号银泰中心3栋14层1407号
        </li>
        <li>
          <span class="left">电话： 400-000-9881</span>
          <span class="right">传真： 028-8888888</span>
        </li>
        <li>
          <span class="left">Q Q： 028-8888888</span>
          <span class="right">微信： CDWTHX</span>
        </li>
        <li>
          邮箱： ww@wantai.com
        </li>
      </ul>
      <ul class="qrcode">
        <li>
            <img src="http://www.recomusic.cn/uploads/ad/1-1Z522110244452.jpg" alt="微信公众号" width="131"/>
        </li>
        <li class="center">
        微信公众号
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="cmain">
      <span class="left">Copyright © 2014-2019 四川万泰和兴科技有限公司 版权所有</span>
      <span class="right">蜀ICP备16016750号</span>
    </div>
  </div>
</div>
</body>
</html>