<div id="side-left" class="side-left">
  <h3><%= text%></h3>
  <div class="scan">
    <div class="qrcode">
      <img src="http://www.recomusic.cn/uploads/ad/1-1Z522110244452.jpg" width="131">
    </div>
    <div class="scan-foot">[ 扫一扫，关注中国.星儿歌]</div>
  </div>
</div>