<%= require('./components/header.ejs')({path:'contact',htmlWebpackPlugin}) %>
  <%= require('./components/bannerImg.ejs')() %>
<div class="main">
<%= require('./components/sideLeft.ejs')({text:'联系我们'}) %>
</div>
<%= require('./components/footer.ejs')() %>
