<%= require('./components/header.ejs')({path:'index',htmlWebpackPlugin}) %>
<% const view = 'list' %>
<div id="root">
  <div class="poster"></div>
  <div class="cont animate-item">
    <div class="text">
      <div class="hd"></div>
      <p class="chinese">
        <span>四川万泰和兴科技有限公司成立于2016年5月，旗下主要项目《中国·星儿歌》是一个覆盖全国面向全球发行儿童音乐作品的大型儿歌音乐活动。全部儿歌皆为全新词曲作品，通过专业的录音棚记录孩子童年的声音，拍摄MV为孩子制作一首自己的音乐作品，向全球主流音乐平台发行。该活动由四川万泰和兴科技有限公司首次策划发起主办并已申请商标注册和专利。</span><br>
        <span>我们都能找到自己小时候的照片，但很少能找到自己小时候的声音。这个活动就是为了不给孩子再留下遗憾，用专业方式记录孩子们童年的声音，发行到全球的主流音乐平台，给孩子和家人留下一段美好的回忆。同时，也是一次中国孩子向全世界展示自己的机会。</span><br>
        <span>让中国的儿歌唱响世界！</span><br>
      </p>
    </div>
    <div class="img">
      <div class="item1"></div>
      <div class="item2"></div>
      <div class="item3"></div>
    </div>
  </div>
  <div style="height:200px;"></div>
</div>
<%= require('./components/footer.ejs')() %>
