<%= require('./components/header.ejs')({htmlWebpackPlugin}) %>
<%= require('./components/bannerImg.ejs')() %>
<div class="main">
<%= require('./components/sideLeft.ejs')({text:'案例展示'}) %>
</div>
<%= require('./components/footer.ejs')() %>
