<%= require('./components/header.ejs')({htmlWebpackPlugin}) %>
<%= require('./components/bannerImg.ejs')() %>

<div class="main">
<%= require('./components/sideLeft.ejs')({text:'歌曲版权'}) %>
</div>
<%= require('./components/footer.ejs')() %>
